<a href="https://colab.research.google.com/github/TyeBeal22/exercise/blob/master/numbers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a = 3
b = 4
print (a)

3

In [5]:
a = 4
print (a)

4

In [10]:
a = "Tye"
print(a)
a = 4
print (a)

Tye
4

In [11]:
firstName = "Tye"
lastName = "Beal"
print(firstName,lastName)

Tye Beal

In [20]:
aList = [1,2,7,9,3,3,8,9.9,4,5]
bList = [10,11,12]
cList = ['tye','beal','mark']
print(aList)

str(aList)


print(cList)

aList.pop()
print(aList)


aList.count(3)

[1, 2, 7, 9, 3, 3, 8, 9.9, 4, 5]
['tye', 'beal', 'mark']
[1, 2, 7, 9, 3, 3, 8, 9.9, 4]

2

In [21]:
import numpy as np

np.linspace(1,80,20)

array([ 1.        ,  5.15789474,  9.31578947, 13.47368421, 17.63157895,
       21.78947368, 25.94736842, 30.10526316, 34.26315789, 38.42105263,
       42.57894737, 46.73684211, 50.89473684, 55.05263158, 59.21052632,
       63.36842105, 67.52631579, 71.68421053, 75.84210526, 80.        ])

In [25]:
import pandas as pd


numbers = np.random.randn(100) * 5 + 5

numbers

array([ 1.8252473 , -5.39043754,  0.0798002 , 12.9949168 , 15.18732245,
        5.80290467,  4.20091421,  6.14984051,  3.8432471 ,  2.50333677,
        2.80620685, 11.71021334, 13.67169535, -3.06334066, 12.72535046,
        7.27223463,  7.6945447 ,  9.20929769, -1.06430758, -3.54047859,
        1.51435138,  4.93436591, 12.94233157,  1.4660919 , -3.98501085,
        2.30493467,  2.92903344, -2.2601359 ,  3.19389651, 10.4205336 ,
        7.92356656, 10.39666779,  7.21743632,  7.98582801,  4.57769526,
        4.9006806 ,  6.71699199,  3.62054027,  3.0294328 ,  4.09671814,
        7.64419403,  8.59784984, -2.58891905,  3.76515207,  8.18051819,
        6.86776673,  8.28434616,  9.49696015,  0.12768955,  7.70963579,
        3.47763118,  3.77053792,  4.60228966, 11.15344431,  4.58793229,
        3.07982613,  8.52406816,  3.71533812, -0.70692292, -4.1337953 ,
       -2.06283173,  3.26158581,  8.76879508, 16.48642495,  7.34524829,
        0.75045928,  2.17470001,  2.35626387,  9.81570889,  9.73112578,
        9.21263856,  9.64505345,  2.19694833,  2.0290926 ,  7.81003693,
       -6.58495996, 20.07226377, 16.48337604, -1.05847025,  7.63197761,
        5.11562105,  8.08528796,  1.66806549, 12.43135399,  4.85088706,
        0.19392922, -0.80434041,  7.14923717,  7.09654064,  4.40319486,
        5.81598231,  2.41705148, 13.28279936, -1.17313109,  0.47942132,
       12.71401671,  3.01847402,  9.09637834,  8.85796978, 10.33565518])

In [36]:
nums = np.array(range(1,11))
nums
D = {'intergers':nums,'square': nums**2,'logs':np.log(nums)}

chart = pd.DataFrame(D)
chart

   intergers  square      logs
0          1       1  0.000000
1          2       4  0.693147
2          3       9  1.098612
3          4      16  1.386294
4          5      25  1.609438
5          6      36  1.791759
6          7      49  1.945910
7          8      64  2.079442
8          9      81  2.197225
9         10     100  2.302585